<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3 class="title">{{title}}</h3>
  
<div style="margin-top: 20px; display: flex; ">
    <aside>
        <div style="width: 40%;">
            <app-right-nav-bar></app-right-nav-bar>        
        </div>   
    </aside>
    <div style="width: 50%; padding: 2rem;">
       
        <app-lists></app-lists>

    </div>
    
</div>
</body>
</html>




